<!-- <header class="navbar">
    <a href="index.php">
        <img src="/components/WhiteCameraLogo.png" alt="Carlos Photography Logo" class="logoImage">
    </a>

    <nav>
        <div class="logo">My Gallery</div>
        <button class="menu-toggle" id="menuToggle">&#9776;</button>
        <ul class="nav-links" id="navLinks">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li>
                <a href="contact.html">
                    <button class="contact-button">Contact</button>
                </a>
            </li>
        </ul>
    </nav>
</header>
 -->


<!-- <header class="navbar">
    <a href="index.php">
        <img src="/components/WhiteCameraLogo.png" alt="Carlos Photography Logo" class="logoImage">
    </a>

    <button class="hamburger">&#9776;</button> 

    <ul class="nav-links">
        <li><a href="index.php">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="gallery.php">Gallery</a></li>
    </ul>
    <a href="contact.html">
        <button class="contact-button">Contact</button>
    </a>
</header> -->



<header>
    <a href="index.php">
        <img src="components/WhiteCameraLogo.png" alt="Carlos Photography Logo" class="logoImage">
    </a>

    <button class="hamburger">&#9776;</button> <!-- Add this button -->

    <nav>
        <ul class="nav-links">
            <li><a href="index.php">Home</a></li>
            <li><a href="about.php">About Me</a></li>
            <li><a href="gallery.php">Gallery</a></li>
        </ul>
    </nav>
    
    <a href="contact.php">
        <button class="contact-button">Contact</button>
    </a>
</header>

<!-- <script src="/components/scripts.js"></script> -->
<!-- <script src="https://carlosgallery.infinityfreeapp.com/components/scripts.js"></script> -->
<script src="components/scripts.js"></script>
